<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<!-- <header class="main-header">
    <div>
    <nav class="nav main-nav">
        <ul>
            <li><a href="http://localhost:4200/login">LOGIN</a></li>
        </ul>
        </nav>
    </div>
</header> -->

<body>
    <div class="container">
        <div class="card">
            <img class="card-img-top" style="border: solid 1px #ccc; padding: 10px 0px;" src="https://cms.fmi.unibuc.ro/static/icons/logo-unibuc-color.png" alt="Card image cap">
            <div class="card-body">
                <h5 style="font-weight: bold;"class="card-title">Autentificare folosind contul dvs. din platforma:</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <button (click)="login()" class="microsoft-button" *ngIf="!isLoggedIn()">
                    <img src="https://companieslogo.com/img/orig/MSFT-a203b22d.png?t=1633073277" alt="Microsoft Logo" class="microsoft-logo">
                    contul de Microsoft
                </button>
            </div>
        </div>
    </div>
    
    <footer-comp style="position: absolute; bottom: 0; width: 100%;"></footer-comp>
</body>

