
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<header class="main-header">
    <div>
      <nav class="nav main-nav">
          <ul>
              <li>
                  <a class="link" (click)=goToPartners()>PARTENERI</a>
                  <ul>
                    <li *ngFor="let partner of partners">
                      <a href="http://localhost:4200/partener/{{ partner.id }}">{{ partner.name }}</a>
                    </li>
                  </ul>
              </li>
              <li><a class="link" (click)=goToEvents() >EVENIMENTE</a></li>
              <li><a href="http://localhost:4200/joburi">JOBURI</a></li>
              <li><a href="http://localhost:4200/practica">PRACTICĂ</a></li>
              <li><a href="http://localhost:4200/user/{{ getEmailFromToken() }}">CONTUL MEU</a></li>
          </ul>
        </nav>
    </div>
    
    <h1 class="site-name">
      <a href="https://fmi.unibuc.ro/">
          <img 
            width="200" 
            height="50" 
            decoding="async" 
            loading="lazy" 
            data-variant="logo" 
            class="logo" 
            src="https://cms.fmi.unibuc.ro/static/icons/logo-fmi-black.png" 
            alt ="FMI logo"
          >
      </a>
    </h1>

  </header>
