<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<nav-bar></nav-bar>

<div style="width: 100%; height: 400px; ">
  <image-slider [slides]="slides"></image-slider>
</div>

<div #partnerspage class="header-with-line">
  <h2 class="first_title">
    Fă cunoștință cu firmele colaboratoare facultății!
  </h2>
  <div class="line"></div>
</div>

<div *ngFor="let partner of partners">
  <div class="card mb-3" style="box-shadow: 0 0 10px #5C97BF;">
    <img class="card-img" src="{{partner.mainImageUrl}}" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">{{partner.name}}</h5>
      <p class="card-text">{{partner.mainDescription}}</p>
      <a href="http://localhost:4200/partener/{{ partner.id }}" class="btn btn-primary">VEZI PROFILUL</a>
    </div>
  </div>
</div>

<div #eventspage class="header-with-line">
  <h2 class="first_title">
    Ia parte la evenimentele organizate de partenerii noștri!
  </h2>
  <div class="line"></div>
</div>

<div class="row">
  <ng-container *ngFor="let event of events">
    <div class="col-md-4">
      <div class="card mb-4" style="width: 18rem; box-shadow: 0 0 10px #5C97BF;">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">{{event.title}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary" style="color: gray">{{event.type}}</h6>
          <p *ngIf="event.location" class="card-text"><i class="material-icons">map</i> {{ event.location }}</p>
          <p *ngIf="event.date" class="card-text"><i class="material-icons">event</i> {{ event.date | date:'dd-MM-yyyy' }}</p>
          <p *ngIf="event.time" class="card-text"><i class="material-icons">watch</i> {{ event.time }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="header-with-line">
  <h2 class="first_title">
    Aplică la joburile oferite de partenerii noștri!
  </h2>
  <div class="line"></div>
</div>

<!-- <div class="container">
  <div class="cards_container">
    <mat-card *ngFor="let job of jobs" class="mat_card">
      <img [src]="job.partnerLogo" class="card_image">
      <mat-card-content class="card_text">{{ job.title }}</mat-card-content>
      <mat-card-actions class="card_button">
        <a href="http://localhost:4200/joburi/{{ job.id }}">
          <button mat-button class="button_apply">APLICĂ</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->

<div class="row"> 
  <ng-container *ngFor="let job of jobs">
      <div class="card" style="width: 18rem; box-shadow: 0 0 10px #5C97BF; margin-bottom: 5px;">
        <a href="http://localhost:4200/joburi/{{ job.id }}">
          <img [src]="job.partnerLogo" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title" style="font-size: 17px;">{{job.title}}</h5>
          <a *ngIf="isUserAuthorized()" href="http://localhost:4200/joburi/{{ job.id }}" class="btn btn-primary">APLICĂ</a>
        </div>
      </div>
  </ng-container>
</div>

<footer-comp></footer-comp>