
  .first_title
  {
    --hidden-scrollbar-width:  0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    vertical-align: initial;
    border: 0;
    padding-top: 2.4rem;
    color: #25044e;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
