
  .first_title
  {
    --hidden-scrollbar-width:  0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    vertical-align: initial;
    border: 0;
    padding-top: 2.4rem;
    color: #25044e;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-top: 40px;
  }

  .line {
    height: 2px;
    width: 100%;
    background-color: #FFE0B2;
    // margin-left: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .card-title
  {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 1.8rem;
  }

  .card-text
  {
    font-family:'Roboto',Helvetica,Arial,sans-serif;
  }

  .btn
  {
    background-color: #0366D6;
  }

  .btn-primary
  {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    color: white;
  }

  .example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-content {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  text-align: center;
}

.card_image {
  height: 250px; /* set the desired height */
  width: auto; /* maintain aspect ratio */
  object-fit: contain;
}

.mat_card {
  width: 20vw;
  object-fit: contain;
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  margin-bottom: 10px;
}

.cards_container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  align-items: center;
}