/* You can add global styles to this file, and also import other style files */


/*
.main-footer {
    //background-image: url("https://c1.wallpaperflare.com/preview/946/194/376/graffiti-background-grunge-street-art.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    //background-color: #56CCF2;
    //padding: .25em 0;
}

// .main-footer-container {
//     //display: flex;
//     //align-items: center;
// }
.footer-name{
    text-align: center;
    color: black;
    margin-top: 0px;
}
*/