<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<div class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">Criteriile jobului</h5>
      <p class="card-text">{{ job.criteria }}</p>
      <h5 class="card-title">Aptitudini</h5>
      <p class="card-text">{{ job.skills }}</p>
    </div>
</div>

<div class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">Descrierea jobului</h5>
      <p class="card-text">{{ job.description }}</p>
    </div>
</div>