.card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 50rem;
    box-shadow: 0 0 10px #5C97BF;
    .card-body {
        font-family: 'Roboto',Helvetica,Arial,sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .card-title {
            font-weight: bold;
            size: 50px;
        }
    }
  }

  @media only screen and (max-width:800px) {
    /* For tablets: */
    .card {
      width: 80%;
      padding: 0;
    }

  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .card {
      width: 100%;
    }
  }