<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<div class="card" style="width: 18rem;">
  <a href="{{ partner.social }}" target="_blank"> <!-- Added anchor tag around the card image -->
      <img class="card-img-top" src="{{ partner.logoImageUrl }}" alt="Card image cap">
  </a>
  
  <div class="card-body">
    <h5 class="card-title">{{ partner.name }}</h5>
    <p class="card-text"><i class="material-icons">place</i> {{ partner.address }}</p>
    <a *ngIf="isUserAuthorized()" href="#" class="btn btn-primary">SALVEAZĂ</a>
    <a href="http://localhost:4200/joburi" (click)="getJobsByFilter(partner.name)" class="btn btn-second">Joburi ({{ partner.jobs.length }})</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Contact</h5>
      <p class="card-text"><i class="material-icons">email</i> {{ partner.email }}</p>
      <p class="card-text"><i class="material-icons">phone</i> {{ partner.phone }}</p>
    </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <maps></maps>
    <p class="card-text"><i class="material-icons">place</i> {{ partner.address }}</p>
  </div>
</div>
