<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">


<div *ngIf="isAlert" class="alert alert-warning alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 10000;">
  {{alertMsg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="isAlertRed" class="alert alert-danger alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 10000;">
  {{alertMsgRed}} 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card">
  <a href="{{ partner.social }}" target="_blank"> <!-- Added anchor tag around the card image -->
      <img class="card-img-top" src="{{ partner.logoImageUrl }}" alt="Card image cap">
  </a>
  
  <div class="card-body">
    <h5 class="card-title">{{ partner.name }}</h5>
    <!-- <p class="card-text"><i class="material-icons">place</i> {{ partner.address }}</p> -->
    <button *ngIf="isUserAuthorized()" (click)="updatePartnerOnStudent()" class="btn btn-primary">SALVEAZĂ</button>
    <a href="http://localhost:4200/joburi" (click)="getJobsByFilter(partner.name)" class="btn btn-second">Joburi ({{ partner.jobs.length }})</a>
  </div>
</div>

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Contact</h5>
      <p class="card-text"><i class="material-icons">email</i> {{ partner.email }}</p>
      <p class="card-text"><i class="material-icons">phone</i> {{ partner.phone }}</p>
    </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Locație</h5>
    <p class="card-map"> 
      <!-- <maps></maps>  -->
      <agm-map style="height: 270px;" [latitude]="latitude" [longitude]="longitude" [zoom]="15">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </p>
    <p class="card-text"><i class="material-icons">place</i> {{ partner.address }}</p>
  </div>
</div>
