
<div *ngIf="isAlert" class="alert alert-warning alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 10000;">
  {{alertMsg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="isAlertRed" class="alert alert-danger alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 10000;">
  {{alertMsgRed}} 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card" style="box-shadow: 0 0 10px #5C97BF; ">
  <div class="card-body">
    <form #updateForm="ngForm" (ngSubmit)="updateJob(updateForm)">

        <div class="mb-3">
          <label for="exampleInputTitle" class="form-label">Titlul</label>
          <input type="text" class="form-control" id="exampleInputTitle" name="title" [(ngModel)]="job.title" >
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
      
        <div class="mb-3">
          <label for="exampleInputType" class="form-label">Salariul</label>
          <input type="text" class="form-control" id="exampleInputType" name="alary" [(ngModel)]="job.salary">
        </div>
      
        <div class="mb-3">
            <label for="exampleInputTime" class="form-label">Adresa</label>
            <input type="text" class="form-control" id="exampleInputTime" name="address" [(ngModel)]="job.address">
        </div>
        
        <div class="mb-3">
          <label for="exampleInputTime" class="form-label">Experiența minimă</label>
          <input type="text" class="form-control" id="exampleInputTime" name="minExperience" [(ngModel)]="job.minExperience">
        </div>

        <div class="mb-3">
          <label for="exampleInputTime" class="form-label">Experiența maximă</label>
          <input type="text" class="form-control" id="exampleInputTime" name="maxExperience" [(ngModel)]="job.maxExperience">
        </div>

        <div class="mb-3">
            <label for="exampleInputDescription" class="form-label">Descriere</label>
            <ckeditor [editor]="Editor" id="exampleInputDescription" name="description" [(ngModel)]="job.description"></ckeditor>
        </div>

        <div class="mb-3">
          <label for="exampleInputDescription" class="form-label">Criterii</label>
          <ckeditor [editor]="Editor" id="exampleInputDescription" name="criteria" [(ngModel)]="job.criteria"></ckeditor>
        </div>

        <div class="mb-3">
          <label for="exampleInputDescription" class="form-label">Aptitudini</label>
          <ckeditor [editor]="Editor" id="exampleInputDescription" name="skills" [(ngModel)]="job.skills"></ckeditor>
        </div>

        <button type="submit" class="btn btn-primary">Actualizează informațiile</button> 
        <button (click)="deleteJob(job.id)" class="btn btn-primary" style="margin-left: 5px;">Șterge</button>

      </form>
  </div>
</div>