<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<div *ngIf="isAlert" class="alert alert-warning alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 10000;">
  {{alertMsg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="isAlertRed" class="alert alert-danger alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 10000;">
  {{alertMsgRed}} 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card">
  <div class="card-body" *ngIf="job">
    <h5 class="card-title">{{ job.title }}</h5>
  </div>
</div>

<div class="card">
    <div class="card-body" *ngIf="job">
      <h5 class="card-title">Criterii Job</h5>
      <p *ngIf="job.salary" class="card-text"><i class="material-icons">paid</i> {{ job.salary }}</p>
      <p *ngIf="job.address" class="card-text"><i class="material-icons">place</i> {{ job.address }}</p>
      <p *ngIf="job.minExperience != 0 && job.maxExperience != 0" class="card-text"><i class="material-icons">assessment</i> {{ job.minExperience }}-{{ job.maxExperience }} ani experiență</p>
      <p *ngIf="job.type" class="card-text"><i class="material-icons">watch</i> {{ getTypeJobString(job.type) }}</p>
    </div>
</div>

<div *ngIf="isUserAuthorized()" class="card">
  <div class="card-body">
      <h5 class="card-title">Acțiuni Job</h5>
    
      <mat-form-field class="responsive-form-field" appearance="outline">
          <mat-label>{{ selectedRating ?  ratingText[selectedRating] : 'EVALUEAZĂ' }}</mat-label>
          <mat-select [(value)]="selectedRating" (selectionChange)="updateJobStatusToRateOnStudent()">
              <mat-option *ngFor="let option of ratingOptions" [value]="option.value">{{ option.text }}</mat-option>
          </mat-select>
      </mat-form-field>
    
      <button (click)="updateJobStatusToFavoriteOnStudent()" class="btn btn-primary" style="margin-top: 0%;">SALVEAZĂ</button>
      <button (click)="updateJobStatusToApplyOnStudent()" class="btn btn-primary" style="margin-top: 0%;">APLICĂ</button>
  </div>
</div>

<div class="card">
    <div class="card-body" *ngIf="job">
      <h5 class="card-title">Detalii Job</h5>
      <p class="card-text"> Ultima actualizare: {{ job.lastUpdated | date:'dd-MM-yyyy' }}</p>
      <p class="card-text"> Publicat: {{ job.createdAt | date:'dd-MM-yyyy' }}</p>
    </div>
</div>