<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<div *ngIf="isAlert" class="alert alert-warning alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 10000;">
  {{alertMsg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ job.title }}</h5>
  </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Criterii Job</h5>
      <p *ngIf="job.salary" class="card-text"><i class="material-icons">paid</i> {{ job.salary }}</p>
      <p *ngIf="job.address" class="card-text"><i class="material-icons">place</i> {{ job.address }}</p>
      <p *ngIf="job.minExperience != 0 && job.maxExperience != 0" class="card-text"><i class="material-icons">assessment</i> {{ job.minExperience }}-{{ job.maxExperience }} ani experiență</p>
      <p *ngIf="job.type" class="card-text"><i class="material-icons">watch</i> {{ getTypeJobString(job.type) }}</p>
    </div>
</div>

<div *ngIf="isUserAuthorized()" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Acțiuni Job</h5>
      <button (click)="updateJobOnStudent()" class="btn btn-primary">SALVEAZĂ</button>
      <a href="#" class="btn btn-primary">APLICĂ</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Detalii Job</h5>
      <p class="card-text"> Ultima actualizare: {{ job.lastUpdated | date:'dd-MM-yyyy' }}</p>
      <p class="card-text"> Publicat: {{ job.createdAt | date:'dd-MM-yyyy' }}</p>
    </div>
</div>

