
.card-text i.material-icons {
    font-size: 1.2em; 
    vertical-align: middle; 
    margin-right: 0.1em; 
}
  
.card {
    margin-left: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    box-shadow: 0 0 10px #5C97BF;

    .card-body {
        font-family: 'Roboto',Helvetica,Arial,sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-title {
            font-weight: bold;
            size: 50px;
        }
    }

    .btn {
        background-color: white;
        margin: 10px 0;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #4B77BE;
        }
    }

    .btn-primary {
        font-family: 'Roboto',Helvetica,Arial,sans-serif;
        color: #333333;
        border: 1px solid black;
    }
}