<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<div *ngIf="isAlert" class="alert alert-warning alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 10000;">
  {{alertMsg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ job.title }}</h5>
  </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Criterii Job</h5>
      <p *ngIf="job.salary" class="card-text"><i class="material-icons">paid</i> {{ job.salary }}</p>
      <p *ngIf="job.address" class="card-text"><i class="material-icons">place</i> {{ job.address }}</p>
      <p *ngIf="job.minExperience != 0 && job.maxExperience != 0" class="card-text"><i class="material-icons">assessment</i> {{ job.minExperience }}-{{ job.maxExperience }} ani experiență</p>
      <p *ngIf="job.type" class="card-text"><i class="material-icons">watch</i> {{ getTypeJobString(job.type) }}</p>
    </div>
</div>

<div *ngIf="isUserAuthorized()" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Acțiuni Job</h5>
      
      <mat-form-field style="color: #333333;
       background-color: white; &:hover {
        background-color: #4B77BE; 
    }" appearance = "outline">
        <mat-label>EVALUEAZĂ</mat-label>
        <mat-select>
        <mat-option>Foarte interesat</mat-option>
        <mat-option>Puțin interesat</mat-option>
        <mat-option>Neutru</mat-option>
        <mat-option>Puțin neinteresat</mat-option>
        <mat-option>Neinteresat</mat-option>
        </mat-select>
        </mat-form-field>

      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()">
          EVALUEAZĂ
          <span class="dropdown-arrow" [class.active]="isDropdownOpen"></span>
        </button>
        <div class="dropdown-menu" [class.active]="isDropdownOpen" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Very Interested</a>
          <a class="dropdown-item" href="#">Somewhat Interested</a>
          <a class="dropdown-item" href="#">Neutral</a>
          <a class="dropdown-item" href="#">Slight Not Interested</a>
          <a class="dropdown-item" href="#">Not Interested</a>
        </div>
      </div> -->
      <button (click)="updateJobOnStudent()" class="btn btn-primary" style="margin-top: 0%;">SALVEAZĂ</button>
      <a href="#" class="btn btn-primary">APLICĂ</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Detalii Job</h5>
      <p class="card-text"> Ultima actualizare: {{ job.lastUpdated | date:'dd-MM-yyyy' }}</p>
      <p class="card-text"> Publicat: {{ job.createdAt | date:'dd-MM-yyyy' }}</p>
    </div>
</div>
