<nav-bar></nav-bar>

<div class="button-container">
  
  <!-- <div *ngIf="uniqueCategories"> -->
    <div *ngIf="uniqueCategories" class="dropdown">
      <button class="dropdown-button" (click)="toggleDropdown2()">
        Categorie
        <span class="dropdown-arrow" [class.active]="isDropdownOpen2"></span>
      </button>
      <div class="dropdown-menu" [class.active]="isDropdownOpen2">
        <li (click)="selectCategory('all')"><a>Arată toate</a></li>
        <li *ngFor="let category of uniqueCategories" (click)="selectCategory(category)">
          <a>{{ category }}</a>
        </li>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div *ngIf="uniqueAddresses"> -->
    <div *ngIf="uniqueAddresses" class="dropdown">
      <button class="dropdown-button" (click)="toggleDropdown()">
        Locație
        <span class="dropdown-arrow" [class.active]="isDropdownOpen"></span>
      </button>
      <div class="dropdown-menu" [class.active]="isDropdownOpen">
        <li (click)="selectAddress('all')"><a>Arată toate</a></li>
        <li *ngFor="let address of uniqueAddresses" (click)="selectAddress(address)">
          <a>{{ address }}</a>
        </li>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div *ngIf="uniquePartners"> -->
    <div *ngIf="uniquePartners" class="dropdown">
      <button class="dropdown-button" (click)="toggleDropdown1()">
        Companie
        <span class="dropdown-arrow" [class.active]="isDropdownOpen1"></span>
      </button>
      <div class="dropdown-menu" [class.active]="isDropdownOpen1">
        <li (click)="selectPartner('all')"><a>Arată toate</a></li>
        <li *ngFor="let partner of uniquePartners" (click)="selectPartner(partner)">
          <a>{{ partner }}</a>
        </li>
      </div>
    </div>
  <!-- </div> -->

</div>

<h1></h1>

<div *ngFor="let job of jobs">
  <a href="http://localhost:4200/joburi/{{ job.id }}" class="text-reset text-decoration-none">
    <div class="card mx-auto mb-3" style="max-width: 800px; height: 200px; width: 50rem; box-shadow: 0 0 10px #5C97BF;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="card-img" *ngIf="job.partnerLogo" src="{{ job.partnerLogo }}" alt="Card image" style="object-fit: cover; width: auto; height: 150px; margin-top: 20px; box-shadow: 0 0 10px #5C97BF; margin-left: 50px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" *ngIf="job.title" style="font-weight: bold;">{{ job.title }}</h5>
              <div class="card-text-wrapper">
                <p *ngIf="job.address" class="card-text">
                  <small class="text-muted"><i class="material-icons">place</i> {{ job.address }}</small>
                </p>
                <p *ngIf="job.salary" class="card-text">
                  <small class="text-muted"><i class="material-icons">paid</i> {{ job.salary }}</small>
                </p>
                <p *ngIf="job.minExperience != 0 && job.maxExperience != 0" class="card-text">
                  <small class="text-muted"><i class="material-icons">assessment</i> {{ job.minExperience }}-{{ job.maxExperience }} ani experiență</small>
                </p>
                <p *ngIf="job.lastUpdated" class="card-text">
                  <small class="text-muted">Actualizat la: {{ job.lastUpdated | date:'dd-MM-yyyy' }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </a>
</div>

<app-pagination [totalLength] = "displayCount" (changePage)="selectPagination($event)" [pageSize]="pageSize"></app-pagination>

<footer-comp></footer-comp>