<nav-bar></nav-bar>

<div>
  <nav class="nav main-nav">
      <ul>
          <li><a href="http://localhost:4200/user/{{ student.email }}">PROFIL</a></li>
          <li><a href="http://localhost:4200/home">JOBURILE TALE</a></li>
          <li><a href="http://localhost:4200/user/cont/{{ student.email }}">SETĂRILE CONTULUI</a></li>
      </ul>
    </nav>
</div>

<div *ngIf="isAlert" class="alert alert-warning alert-dismissible fade show position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 10000;">
  {{alertMsg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card" style="border-radius: 20px; box-shadow: 0 0 10px #5C97BF; margin-top: 30px; margin-bottom: 5px; margin-left: 20%; margin-right: 20%;">
  <div class="card-body">
    <!-- <h5 class="card-title">{{ student.firstName }} {{ student.lastName }}</h5> -->
    <form #updateForm="ngForm" (ngSubmit)="updateStudent(updateForm)">
      <div class="mb-3">
        <label for="exampleInputPersonalEmail" class="form-label">Adresă de email personală</label>
        <input type="email" class="form-control" id="exampleInputPersonalEmail" name="personalEmail" [(ngModel)]="student.personalEmail" >
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <label for="exampleInputPhone" class="form-label">Număr de telefon</label>
        <input type="tel" class="form-control" id="exampleInputPhone" name="phone" [(ngModel)]="student.phone">
      </div>
      <div class="mb-3">
          <label for="exampleInputDegree" class="form-label">Studii</label>
          <input type="text" class="form-control" id="exampleInputDegree" name="degree" [(ngModel)]="student.degree">
      </div>
      <div class="mb-3">
          <label for="exampleInputSkills" class="form-label">Aptitudinile mele</label>
          <input type="text" class="form-control" id="exampleInputSkills" name="skill" [(ngModel)]="student.skill">
      </div>
      <div class="mb-3">
          <label for="exampleInputDescription" class="form-label">Despre mine</label>
          <input type="text" class="form-control" id="exampleInputDescription" name="description" [(ngModel)]="student.description">
      </div>
      <button type="submit" class="btn btn-primary">Actualizează informațiile</button>
    </form>
  </div>
</div>

<div class="card" style="border-radius: 20px; box-shadow: 0 0 10px #5C97BF; margin-top: 30px; margin-bottom: 5px; margin-left: 20%; margin-right: 20%;">
  <div class="card-body">
    <div class="mb-3">
      <label for="formFile" class="form-label">CV-ul dumneavoastră</label>
      <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
    </div>
    <button type="submit" class="btn btn-primary" (click)="uploadFile()">Salvează</button>
  </div>
</div>

<footer-comp></footer-comp>