.card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  box-shadow: 0 0 10px #5C97BF;
  
  .card-body {
      font-family: 'Roboto',Helvetica,Arial,sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-title {
          font-weight: bold;
          size: 50px;
      }
  }
}